/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#logo { 
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
    padding: 10px;
}
td a:link, td a:visited { color: #d3360b !important; }
a:hover, a:active { background: #fff !important; color: #d3360b !important; }
body { padding-top: 100px; }
footer { color: #999; font-style: italic; margin-top: 100px; }
h1 { color: #d3360b; margin: 0 0 15px 0; }
table, td, th { vertical-align: middle !important; border: none !important; }
td, th { padding: 5px 10px 5px 5px; text-align: left; }
th { border-bottom: 1px solid #DDD !important; }
td.picture { width: 140px; }
td.picture img { width: 140px; }